body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  width: 100%;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #500b81;
  overflow: hidden;
}
h1 {
  font-size: 32pt;
  margin-bottom: 0;
}
#right-side {
  grid-column: 2;
  background-color: rgba(87, 15, 155, 0.747);
  background-image: url(../assets/bg.svg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
}
#right-side img {
  width: 14em;
  margin-top: -2em;
  opacity: 0.6;
  animation: show-grow-img 566ms ease-out;
}
#left-side {
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: #FAEDF089;
  border-left: 4px groove rgb(182, 130, 238);
}
#left-side form, #left-side h1, #left-side a {
  animation: show-grow 566ms ease-out;
}

form {
  margin-bottom: 1.25rem;
  padding: 0.75em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2em;
  width: 15vw;
}
label {
  align-self: flex-start;
  margin-left: 0.85em;
  margin-bottom: -0.75em;
  font-weight: 600;
}
input {
  padding: 0.75em 2.5em;
  border: 3px blueviolet solid;
  transition: 300ms ease-out all;
  border-radius: 3rem;
  background-color: rgba(210, 177, 241, 0.126);
}

input:hover {
  background-color: rgba(156, 74, 234, 0.307);
}

input:focus {
  background-color: rgba(156, 74, 234, 0.154);
  border: 3px rgb(199, 64, 197) solid;
  outline: none;
}

input[type="submit"] {
  margin-top: 0.8em;
  background-color: blueviolet;
  border-color: blueviolet;
  color: #FFF;
  font-size: 12pt;
  font-weight: bolder;
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  cursor: pointer;
}

input[type="submit"][disabled="true"] {
  opacity: 0.75;
  filter: blur(0.33px);
}

input[type="submit"]:hover {
  opacity: 0.75;
}

input[type="submit"][disabled="true"] {
  opacity: 0.75;
  filter: blur(0.33px);
}

a {
  margin-top: 1em;
  color: rgba(87, 15, 155, 0.747);
  transition: 210ms all linear;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  transform: scale(1.075);
  color: rgba(142, 34, 243, 0.747);
  font-weight: 900;
  text-decoration: underline !important;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

@keyframes show-grow {
  from {
    transform: scale(0.8);
    opacity: 0.4;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes show-grow-img {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 0.6;
  }

}