#alert-wrapper {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#alert {
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  z-index: 10000;
  padding: 1em 1.5em;
  min-width: 25vw;
  max-width: 55vw;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 9px;
  opacity: 0.92;
}

#alert button {
  font-weight: bolder;
  font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
  transition: 277ms ease-out all;
  max-height: 2em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  background: none;
}

#alert button:hover {
  opacity: 0.7;
}

#alert header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  background-color: transparent;
  margin: 0;
  background: none;
}

#alert header h1 {
  margin: 0;
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#icon {
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 0;
  transition: 333ms ease-out all;
}

#close {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #FFF; /* rgba(98, 37, 158, 0.765); */
  color: #FFF;
  font-size: 10.5pt;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#content {
  width: 100%;
  background-color: inherit;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.1em;
  margin: 1em 0;
}

#content p, #content label {
  margin: 1em 0;
  font-size: 10.5pt;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#content label {
  font-weight: 600;
}

#alert #prompt {
  color: #DCDCDC;
  margin: 0.25em 0;
  padding: 0.75em 2.5em;
  border: 3px blueviolet solid;
  transition: 300ms ease-out all;
  border-radius: 3rem;
  background-color: rgba(210, 177, 241, 0.126);
}

#alert #prompt:focus {
  outline: none;
}


#alert #buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
}

#buttons button:disabled {
  opacity: 0.4;
}

#alert #buttons > :first-child {
  background-color: #4fdd3d;
  color: #FFF;
  margin-right: 1em;
}


#alert #buttons > :last-child {
  background-color: #f12e2e;
  color: #FFF;
}

#content button, #alert #buttons > button {
  display: flex;
  align-items: center;
  padding: 1.2em;
  margin: 0;
  margin-top: 1.25em;
  border-radius: 9px;
  border: 0;
  font-size: 12pt;
  color: rgba(98, 37, 158, 0.765);
  background-color: #FFF;
}

#alert #checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.25em;
}

#alert #checkbox-wrapper #checkbox {
  width: 1.25em;
  height: 1.25em;
  border: 0;
  border-radius: 30px;
}

/* To guarantee transition once alert is fading out as well */
body header, body main, body aside {
  transition: all ease-out 377ms;
}

.content-bellow {
  filter: blur(4px);
  background-color: rgba(30, 22, 83, 0.347);
  transition: all ease-out 377ms;
}

.success #alert {
  background-color: #6bab27;
}
.success #content button {
  color: #6bab27;
}

.error #alert {
  background-color: #C1212F;
}
.error #content button {
  color: #C1212F;
}

.warning #alert {
  background-color: #b18619;
}
.warning #content button {
  color: #b18619;
}

.info #alert {
  background-color: #473D8B;
}
.info #content button {
  color: #473D8B;
}
