body {
  background-color: #7868a9AD;
  background-image: url(../assets/bg_transparent.svg);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  animation: show ease-out 0.666s;
  overflow: hidden;
}

input:focus {
  outline: none;
}

header {
  background-color:#78699db8;  /* rgba(71, 61, 139, 0.25) */
  background: linear-gradient(0deg,#9b88d089 35%,rgba(133, 102, 201, 0.7) 100%);
  border-bottom:2px rgba(71, 61, 139, 0.45) solid;
  margin-bottom: 3em;
  width: 100%;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em 0;
  width: 100%;
}

header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 10pt;
  font-weight: 600;
  gap: 4%;
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
}

header ul li {
  color: rgb(62, 52, 126);
  transition: 289ms ease-out all;
  cursor: pointer;
  opacity: 0.94;
}

header ul li:hover {
  opacity: 0.78;
  color: rgb(87, 76, 157);
}

header nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  margin-right: 2em;
  opacity: 0.77;
}

header nav button:hover {
  opacity: 1;
  transform: scale(1.1);
}

main {
  display: grid;
  grid-template-columns: 1fr 6% 74% 18% 1fr;
  grid-gap: 0.5%;
  margin: 2em 0;
}

aside {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4em;
  flex-direction: column;
}

#tab-buttons-wrapper {
  display:flex;
  justify-content: center;
  margin-top: -2.33em;
  gap: 0.5em;
  /* width:92vw; */
}

#tabs-wrapper {
  display: flex;
  width: 100%;
  gap: 0.5em;
  margin: 0;  /* bellow margin is a way to get full screen tab-btn-wrapper */
  /* margin-top: -2.33em; */
  overflow-x: scroll;
  padding-right: 1em;
}

button#tab-close-btn {
  border: 2px ridge rgba(71, 61, 139, 0.66);
  color: rgba(71, 61, 139, 0.66);
  font-weight: 600;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.22em;
  line-height: 0.52em;
  margin-bottom: 0.7em;
  margin-left: 1em;
  margin-right: -0.45em;
  font-size: 8pt;
  font-family: monospace;
  border-radius: 50%;
  transition: 70ms ease-in all;
}

button#tab-close-btn:hover {
  border: 2px dotted rgb(71, 61, 139);
  color: rgb(71, 61, 139);
  transform: scale(1.11);
  font-weight: 800;
}

::-webkit-scrollbar {
  height: 0.33em;
  width: 100%;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(71, 61, 139, 0.119);
  margin: 0.5em 0.25em;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(71, 61, 139, 0.764);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(71, 61, 139, 0.394);
}

button, input#tab-text-changing {
  border: 2px rgba(71, 61, 139, 0.8) solid;
  background-color: #DDD;
  background: linear-gradient(180deg, #f6ddfe -20%, rgb(169, 165, 243)  120%);
  color: rgb(71, 61, 139);
  font-size: 12pt;
  font-weight: 600;
  padding: 0.25em 0.5em;
  transition: 165ms ease-in all;
  margin-bottom: 0.15em;
  max-height: 2em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
}

button.tab {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-shrink: 0;
  /* min-width: 6em; */
  border-radius: 6px;
  opacity: 0.48;
}

input#tab-text-changing {
  align-items: center;
  border: 0;
  color: rgba(71, 61, 139, 0.875);
  background: linear-gradient(180deg, #f7f2f8e6 -30%, rgb(155, 151, 222)  130%);
  outline: none;
  padding: 0;
  margin: 0;
  cursor: text;
  width: 2em;
}

::-webkit-input-placeholder { 
  text-align: center;
  color: rgba(71, 61, 139, 0.6);
}


button.tab.active {
  opacity: 1;
  font-weight: 700;
  background: linear-gradient(180deg, #f7f2f8e6 0%, rgb(155, 151, 222)  100%);
  border-width: 2.5px;
}

button.tab.active:hover {
  opacity: 1;
  transform: scale(1);
}

button.tab:hover {
 opacity: 0.8;
 transform: scale(1.006);
}

button#add-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 0.55;
  width: max-content;
  flex-shrink: 0;
  padding: 0 0.65em;
}

button#add-tab:hover {
  opacity: 1;
  flex-shrink: 0;
}

aside#tools {
  grid-column: 2;
  padding: 0.175em 0.1125em;
  width: 43%;
  margin: 0 auto;
  /* background-color: #837CB176; */
}

aside#options {
  grid-column: 4;
}

#tools ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding:0;
  border-radius: 4px;
  align-items: center;
  grid-column: 3;
  list-style: none;
}


#tools ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(95deg,rgb(170, 168, 215) 0%,   rgb(147, 113, 222) 100%);
  text-align: center;
  padding: 4px;
  max-height: 26px;
  margin: 1px;
  margin-bottom: 3px;
  border: 1px #352B71 solid;
  border-radius: 5px;
  border-top: 3px #201946 solid;
  border-left: 2px #201946 solid;
  cursor: pointer;
  transition: 180ms all ease-out;
}

#tools ul li:hover {
  filter: invert(78%) sepia(12%) saturate(196%) hue-rotate(158deg) brightness(148%) contrast(72%);  
}

#options ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  /* background-color: transparent; */
  margin: 0;
  padding: 0.5em 1.75em 3em;
  min-width: 40%;
  max-height: 50%;
  border: 2px #352B71 solid;
  border-radius: 5px;
  border-bottom: 4px #201946 solid;
  border-left: 3px #201946 solid;
}

#options ul li {
  display: none;
  width: 12vw;
}

#options ul form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#options ul form > div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

#zoom-options {
  justify-content: center;
  width: min-content;
}

h3 {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 18pt;
  margin: 1em 0;
  color: rgb(53, 43, 113) 
}


#options ul label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  margin-right: 0.2em;
  color: rgba(71, 61, 139, 0.95);
  font-weight: 600;
}

#options ul form > div input, #innerText  {
  font-family: 'Roboto 400';
  font-size: 12pt;
  color: #666;
  padding: .2rem;
  border-radius: 3rem;
  border: 2px rgba(71, 61, 129, 0.559) solid;
  transition: all 300ms linear;
}

#options ul form > div input:hover {
  box-shadow: 0 0 10px 0 rgba(12, 14, 13, .3);
  border: 2px solid rgb(71, 61, 139);
}

#options ul form > div input[type="color"] {
  appearance: 'none';
  margin: 0;
  padding: 0;
  height: 300%;
  transition: box-shadow 300ms linear;
}

#rectangle-options, #ellipse-options {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  justify-content: space-around;
  width: 100%;  
}

#rectangle-options #rect-check-settings, #ellipse-options #ellipse-check-settings {
  width: 100%;  
  margin-bottom: 1em;
}

#rectangle-options #rect-check-settings > div, #ellipse-options #ellipse-check-settings > div {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#rectangle-options #rectStroke, #ellipse-options #ellipseStroke {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5em;
}

#rectangle-options #rectStroke > div, #ellipse-options #ellipseStroke > div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/*
#rectangle-options #fill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 0.5em;
} */

#options ul .text-area-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.3rem;
  transition: all 300ms linear;
}

#options ul #innerText {
  align-self: center;
  width: 75%;
  height: 2rem;
  border: 0;
  border: 3px solid #FFF;
  transition: all 300ms linear;
  margin-top: 0.35em;
}

#fontFamily {
  width: 50%;
  align-self: center;
  margin: 0.35em 0 0.7em 0;
}

#options ul form div:has(> #fontFamily) {
  flex-direction: column;
  align-items: flex-start;
}

#options ul #innerText:hover {
  box-shadow: 0 0 10px 0 rgba(12, 14, 13, .3);
}

#options ul .color-input-container {
  display:flex;
  align-items: center;
  padding: 0;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  transition: all 300ms linear;
  overflow: hidden;
  border: 2px rgba(71, 61, 139, 0.37) solid;
  /* border: 0; */
}

#options ul .color-input-container:hover {
  box-shadow: 0 0 10px 0 rgba(45, 51, 48, 0.6);
  border: 2px solid rgb(71, 61, 139);
}

.number-container {
  justify-content: center;
  align-items:center;
  display: flex;
  flex-direction: row;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
  width: 100%;
}
input[type="color"]::-webkit-color-swatch {
	width: 100%;
  border: none;
}

.number {
  max-width: 2.8rem;
  margin-right: 5px;
}

.erase-tooltip-added {
  display: none;
  z-index: 100;
  position: absolute; /* Try fixed as well */
  margin: 0;
  pointer-events: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.685);
  border: #BBB solid 2px;
}

#canvas-wrapper {
  grid-column: 3;
}

canvas {
  background-color: #FFF;
  border-radius: 5px;
  margin-top: 0.1em;
  width: 100%;
  /* object-fit: contain; */
  max-height: 82dvh;
  margin-bottom: -0.25em;
  image-rendering: -webkit-optimize-contrast;  /* Webkit browsers */
  image-rendering: smooth;
}

/* JS Style Handlers*/
li.active {
  filter: invert(64%) sepia(82%) saturate(176%) hue-rotate(118deg) brightness(96%) contrast(185%);
  /* filter: invert(60%) sepia(168%) saturate(496%) hue-rotate(121deg) brightness(78%) contrast(180%); */

}

li.tabnav-active {
  display: block !important;
}

@keyframes show {
  from {
    transform: translateX(-2.2rem);
    opacity: 0.2;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}